@import "style/variables";

@import "~bootstrap/scss/bootstrap.scss";

@import "components/home/card";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #e9e9e9;
}

main > .container {
  padding: 60px 15px 0;
}

.footer {
  margin-top: 60px;
}

.text-underlined {
  text-decoration: underline;
}

.section-padding {
  padding-top: 40px;
  padding-bottom: 40px;
}

.section-title {
  hr {
    border-top: 2px solid #cccccc;
    flex: 1;
  }
  p {
    font-size: 1rem;
    font-weight: 900;
    color: white;
    background-color: black;
    padding: 5px 20px;
    display: inline-block;
    margin-bottom: 0;
    margin-left: 10px;
    margin-right: 10px;
  }
}
